/* ==== Common ==== */
* {
  /* Box Sizing */
  box-sizing: border-box;

  /* Fonts */
  --title-font: "Sen", san-serif;
  --text-font: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--text-font);
}

/* button */
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  border-radius: 24.5px;
  line-height: 50px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-family: var(--text-font);
  font-weight: 600;
}

/* Link anchor */
a {
  text-decoration: none;
}

/* Logo */
.logo a {
  color: #171100;
  font-family: var(--title-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  /* 141.667% */
}

.logo a span {
  color: #ffb900;
  font-family: var(--title-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* ==== Header ==== */
.header {
  background-color: #fffcf4;
}

.header .fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  font-style: normal;
  text-shadow: 2px 0 0 / currentColor;
}

.nav li.active a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  left: 21px;
  bottom: 7px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .btn {
  margin-left: 49px;
}

/* ==== Hero ==== */
.hero {
  margin-top: 17px;
}

.hero .body {
  display: flex;
  flex-flow: wrap row;
  flex-shrink: 0;
}

.hero .media-block .hero-image {
  position: relative;
  width: 470px;
  height: 685px;
  flex-shrink: 0;
  border-radius: 20px;
  flex-shrink: 0;
  object-fit: cover;
}

.hero .media-block .hero-summary {
  display: flex;
  position: absolute;
  flex-flow: wrap column;
  width: 270px;
  height: 244px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  top: 540px;
  left: 386px;
}

.hero .media-block .hero-summary .item {
  display: flex;
  flex-flow: wrap row;
  gap: 16px;
  margin-bottom: 22px;
  justify-content: space-around;
}

.hero .media-block .hero-summary .item:first-child {
  margin-top: 28px;
}

.hero .media-block .hero-summary .item:last-child {
  margin-bottom: 6px;
}

.hero .media-block .hero-summary .item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.hero .media-block .hero-summary .item .icon:nth-child(1) {
  background-color: #FFF9E8;
}

.hero .media-block .hero-summary .item .icon:nth-child(2) {
  background-color: #FCEFFF;
}

.hero .media-block .hero-summary .item .icon:nth-child(3) {
  background-color: #EBEAFF;
}