/* ==== Common ==== */
* {
  /* Box Sizing */
  box-sizing: border-box;

  /* Fonts */
  --title-font: "Sen", san-serif;
  --text-font: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--text-font);
}

/* button */
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  border-radius: 24.5px;
  line-height: 50px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-family: var(--text-font);
  font-weight: 600;
}

/* Link anchor */
a {
  text-decoration: none;
}

/* Logo */
.logo a {
  color: #171100;
  font-family: var(--title-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  /* 141.667% */
}

.logo a span {
  color: #ffb900;
  font-family: var(--title-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* ==== Header ==== */
.header {
  background-color: #fffcf4;
}

.header .fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  font-style: normal;
  text-shadow: 2px 0 0 / currentColor;
}

.nav li.active a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
  left: 21px;
  bottom: 7px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .btn {
  margin-left: 49px;
}

/* ==== Hero ==== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Media Hero */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .hero-image {
  display: block;
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  position: absolute;
  right: -110px;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Content Hero */
.content_hero {
  margin-left: 230px;
}

.content_hero .heading {
  margin-bottom: 22px;
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.8rem; /* 117.241% */
  letter-spacing: -0.116rem;
}

.content_hero .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.content_hero .cta-group {
  display: flex;
  padding-top: 38px;
  gap: 28px;
}

.content_hero .cta-btn {
  padding: 17px 33px;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 166.667% */
}

.content_hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 166.667% */
}

.content_hero .watch-video .play-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content_hero .data-block {
  display: flex;
  flex-flow: wrap column;
  justify-content: space-between;
  align-items: start;
  margin-top: 48px;
  gap: 8px;
}

.content_hero .data {
  display: flex;
  flex-flow: wrap row;
  gap: 28px;
  color: #171100;
  font-family: Sen;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.4rem; /* 122.727% */
}

.content_hero .data span {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}
